@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


*{
   margin:0;
   padding:0; 
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:hsl(0, 0%, 8%);
    flex-direction: column;  
    font-family:inter;
}

main{
    justify-content:center;
    padding:30px 40px;
    background-color:hsl(0, 0%, 12%);
    border-radius:12px;
    color: #fff; 
    box-shadow: 20px;  
    margin:3%;
    
}
.foto{
    margin: 5% 25%;;
}
.foto img{
    border-radius:90px;
    align:center;
    
}
.quem-sou{
    text-align:center;
}

.quem-sou h3{
    padding:10px ;
    color:hsl(75, 94%, 57%);
}

.quem-sou p{
    padding:25px;
}
.links{
    display: flex;
    flex-direction:column;
     
}
.links a {
    color:#fff; 
    padding:5%;
    text-align:center;
    background: hsl(0, 0%, 20%);
    border-radius:10px;
    margin:10px;
    text-decoration:none;
    Font size: 14px;
}
.links a:hover {
    background-color:hsl(0, 0%, 8%);
}

.attribution{
    margin-top: 2%;
}
